:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  color: var(--yellow-color);
}

.navbar {
  background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}

.navbar .search {
  border-left: 1px solid var(--green-color);
}

.navbar .search svg {
  color: var(--green-color);
}

.navbar .navbar-toggler {
  color: #fff;
  font-size: 25px;
  border-color: #fff;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}

.home {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}

.main-title::before {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  left: 50%;
  transform: translateX(-50%);
}

.services .service-icons {
  height: 200px;
}

.services .service-icons svg {
  left: 50%;
  transform: translateX(-50%);
}

.services .service-icons .number {
  font-size: 12rem;
  color: var(--section-color);
}

.services .service-icons .icon {
  color: var(--green-color);
}

.services .service h4 {
  color: var(--yellow-color);
}

.portfolio {
  background-color: var(--section-color);
}

.portfolio ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.portfolio ul li.active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}

.portfolio ul li:not(.active):hover {
  color: var(--red-color);
}

.portfolio .box {
  padding: 5px;
}

.portfolio .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgba(51, 209, 204, 0.76);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
  transition: 0.5s;
}

.portfolio .box:hover::before {
  transform: translateX(0);
}

.stuff .description {
  max-width: 500px;
}

.team {
  background-color: var(--section-color);
}

.team h2 {
  color: var(--yellow-color);
}

.team .box h4 {
  background-color: var(--green-color);
}

.project {
  background-color: var(--dark-color);
}

.about {
  background-color: var(--yellow-color);
}

.about .input-text {
  border: none;
  border-bottom: 1px solid #fff;
}

.about .input-text:focus {
  outline: none;
}

.about .input-text::placeholder {
  color: #fff;
}

@media (max-width: 767px) {
  .about .input-text {
    margin-bottom: 5px;
  }
  .about .input-text::placeholder {
    text-align: center;
  }
}

.about .submit {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}

.footer {
  background-color: var(--dark-color);
}

.footer .copyright > span {
  color: var(--green-color);
}

.footer .copyright div span {
  color: var(--yellow-color);
}

.footer .contact ul svg {
  height: 20px;
  width: 20px;
}

@media (max-width: 767px) {
  .footer .contact ul {
    justify-content: center;
  }
}

.footer .contact .facebook {
  background-color: #1877f2;
}
.footer .contact .twitter {
  background-color: #1d41f2;
}
.footer .contact .linkedin {
  background-color: #0077b5;
}
.footer .contact .youtube {
  background-color: #ff0000;
}